<%= form_with url: booking_history_path, method: :get, local: true, html: { class: "space-y-4" } do |f| %>
  <div class="flex items-center gap-x-12">
    <div class="flex flex-col">
      <%= f.label :field, t("orders.filter.field"), class: "mb-1 font-medium text-gray-700" %>
      <%= f.search_field :field, value: params[:field], class: "px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :date, t("orders.filter.date"), class: "mb-1 font-medium text-gray-700" %>
      <%= f.date_field :date, value: params[:date], class: "px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :status, t("orders.filter.status"), class: "mb-1 font-medium text-gray-700" %>
      <%= f.select :status,
                  OrderField.statuses.keys.map {|status| [t("activerecord.attributes.order_field.status.#{status}"), OrderField.statuses[status]]},
                  {include_blank: true, selected: params[:status]},
                  class: "pl-3 pr-8 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary cursor-pointer" %>
    </div>
    <div class="flex flex-col">
      <%= f.submit t("orders.filter.search"), class: "w-full mt-6 px-4 py-2 text-white bg-primary rounded-md hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary cursor-pointer" %>
    </div>
  </div>
<% end %>
