<tr class="hover:bg-green-100">
  <td class="px-4 py-2 border-b border-gray-300 text-center"><%= user_counter + 1 %></td>
  <td class="px-4 py-2 border-b border-gray-300 text-center"><%= user.name %></td>
  <td class="px-4 py-2 border-b border-gray-300 text-center"><%= user.email %></td>
  <td class="px-4 py-2 border-b border-gray-300 text-center"><%= exchange_money(user.money) %></td>
  <td class="px-4 py-2 border-b border-gray-300 text-center <%= activated_class(user.activated) %>">
    <%= t "activerecord.attributes.user.activated.#{user.activated}" %>
  </td>
  <td class="px-4 py-2 border-b border-gray-300 text-center"><%= user.created_at.strftime(Settings.date_time_format) %></td>
  <td class="px-4 py-2 border-b border-gray-300 text-center">
    <div class="mb-2"><%= link_to t(".show"), user, class: "text-blue-600 hover:underline" %></div>
    <div><%= render "action", user: user %></div>
  </td>
</tr>
