<% provide :title, @user.name %>
<div class="container mx-auto px-4 py-8">
  <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="bg-gray-200 h-48 flex items-center justify-center">
      <%= image_tag((get_profile_image(@user)), alt: t(".profile_picture"), class: "h-32 w-32 rounded-full border-4 border-white") %>
    </div>
    <div class="p-6 text-center">
      <h1 class="text-2xl font-bold text-gray-800 mb-2"><%= @user.name %></h1>
      <h1 class="text-xl font-semibold text-blue-500 mb-2"><%= @user.email %></h1>
      <% if current_user?(@user) %>
        <h1 class="text-xl text-emerald-400 font-semibold mb-4"><%= exchange_money(@user.money) %></h1>
        <div class="flex justify-center items-center gap-x-12">
          <%= link_to edit_user_path(@user) do %>
            <%= render "shared/primary_btn", label: t("users.edit.edit_profile") %>
          <% end %>
          <%= link_to booking_history_path do %>
            <button class="block mx-auto bg-yellow w-40 h-14 rounded-lg text-white font-semibold text-xl hover:opacity-50 transition-opacity">
              <%= t("booking_history.index.history") %>
            </button>
          <% end %>
          <%= link_to activities_path do %>
            <button class="block mx-auto bg-red-500 w-40 h-14 rounded-lg text-white font-semibold text-xl hover:opacity-50 transition-opacity">
              <%= t("activities.index.activity") %>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
