<div class="mt-6 border-b-2 border-gray-200 pb-4" id="<%= dom_id rating %>">
  <div class="flex gap-6 relative">
    <div class="w-12 h-12 flex items-start shrink-0">
      <%= image_tag get_profile_image(rating.user),
                    alt: rating.user.name,
                    class: "w-full h-full rounded-full object-cover"
      %>
    </div>
    <div class="flex-1 w-11/12 max-w-full flex flex-col gap-1">
      <h4 class="text-lg <%= "text-primary" if current_user?(rating.user) %>">
        <%= current_user?(rating.user) ? t(".you") : rating.user.name %>
      </h4>
      <span class="font-light text-gray-600"><%= t ".posted", deep_intepolation: true, time: time_ago_in_words(rating.created_at) %></span>
      <span><%= render "ratings/stars", rating: rating.rating %></span>
      <p class="break-words whitespace-normal mt-1"><%= rating.description %></p>
      <% if logged_in? %>
        <%= link_to t(".reply"), new_review_path(rating), class: "text-primary underline mt-2",
                                 data: {turbo_frame: "#{dom_id rating}-new-review"} %>
      <% else %>
        <%= link_to t(".reply"), login_path, class: "text-primary underline mt-2" %>
      <% end %>
    </div>
  </div>
  <div class="w-full pt-2 pl-8">
    <div id="<%= dom_id rating %>-reviews">
      <%= render rating.reviews, rating: rating %>
    </div>
    <%= turbo_frame_tag "#{dom_id rating}-new-review" %>
  </div>
</div>
