<%= turbo_frame_tag dom_id(review) do %>
  <div class="flex gap-6 mt-2 border-t-2 border-gray-200 pt-4 relative">
    <div class="w-10 h-10 flex items-start shrink-0">
      <%= image_tag get_profile_image(review.user),
                    alt: review.user.name,
                    class: "w-full h-full rounded-full object-cover"
      %>
    </div>
    <div class="flex-1 w-11/12 max-w-full flex flex-col gap-1">
      <h4 class="text-lg <%= "text-primary" if current_user?(review.user) %>">
        <%= current_user?(review.user) ? t(".you") : review.user.name %>
      </h4>
      <span class="font-light text-gray-600"><%= t "ratings.rating.posted", deep_intepolation: true, time: time_ago_in_words(review.created_at) %></span>
      <p class="break-words whitespace-normal mt-1"><%= review.description %></p>
      <% if logged_in? %>
        <%= link_to t(".reply"), new_review_path(rating), class: "text-primary underline mt-2",
                                 data: {turbo_frame: "#{dom_id rating}-new-review"} %>
      <% else %>
        <%= link_to t(".reply"), login_path, class: "text-primary underline mt-2" %>
      <% end %>
    </div>
    <div class="absolute right-6 top-5 flex gap-x-3">
      <% if current_user? review.user %>
        <%= link_to t(".edit"), edit_review_path(review),
                    class: "text-primary font-light text-md hover:opacity-50 transition-opacity"
        %>
        <%= link_to t(".delete"), review_path(review),
                    class: "text-light-red font-light text-md hover:opacity-50 transition-opacity",
                    data: {turbo_method: :delete, turbo_confirm: t(".confirm")}
        %>
      <% else %>
        <%= link_to t(".report"), "#",
                    class: "text-gray-400 font-light text-md hover:opacity-50 transition-opacity" %>
      <% end %>
    </div>
  </div>
<% end %>
