<%= render "filter_btn", active_params: {most_rated: :true}, label: t(".most_rated") %>
<%= render "filter_btn", label: t(".newest"),
                         active_params: {order: :created_at, sort: :desc}
%>
<div class="relative z-40">
  <button class="w-28 h-10 bg-gray-200 text-xs rounded-md hover:bg-primary hover:text-white transition-colors"
          id="filter-price-btn">
    <%= t ".price" %>
    <%= fa_icon "caret-down", class: "ml-2 text-gray-500" %>
  </button>
  <div id="filter-price-list" class="flex-col absolute hidden shadow-lg">
    <%= render "filter_btn", active_params: {order: :default_price, sort: :asc}, label: t(".low_to_high"), not_rounded: true %>
    <%= render "filter_btn", active_params: {order: :default_price, sort: :desc}, label: t(".high_to_low"), not_rounded: true %>
  </div>
</div>
<div class="relative z-40">
  <button class="w-28 h-10 bg-gray-200 text-xs rounded-md hover:bg-primary hover:text-white transition-colors"
          id="filter-type-btn">
    <%= t ".type" %>
    <%= fa_icon "caret-down", class: "ml-2 text-gray-500" %>
  </button>
  <div id="filter-type-list" class="flex-col hidden absolute shadow-lg">
    <%= render "filter_btn", active_params: {type: :all}, label: t(".all"), not_rounded: true %>
    <% all_field_types.each do |type| %>
      <%= render "filter_btn", active_params: {type: type.id}, label: type.name, not_rounded: true %>
    <% end %>
  </div>
</div>
<%= render("filter_btn", active_params: {favourite: true},
                         label: fa_icon("heart-o") + t(".favourite")) if current_user.present?
%>
